/* TYPOGRAPHY */
@font-face {
    font-family: "FuturaBoldCondensed";
    src: url("../fonts/Futura-Bold-Condensed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaCondensed";
    src: url("../fonts/Futura-Condensed.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* BODY */

body {
    font-family: 'FuturaCondensed', monospace;
    font-weight: normal;
    background-color: #838A90;
    align-items: center;
    margin: 30px 20px;
}

/* GLOBAL ATTRIBUTES */
p, h2{
    margin:0;
    padding:0;
}

.Progress{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.Progress img{
    width: 100%;
    height: auto    ;
    margin: 0 auto;
    position: relative;
}
/* HEADER */

.Poster-Ext{
    display: none;
}

header {
    display: flex;
    flex-direction: column;
}

.tab {
    background-color: #A7D1E9;
    color: #F9FDEC;
    padding: 5px 15px 5px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 20%;
}

.tab p{
    padding-left: 5px;
}

/* NAV*/
.navegator{
    background-color: #F9FDEC;
    display: flex;
    align-items: center;
    text-align: center;
    border-top-right-radius: 10px;
}

/* FLECHAS DE NAVEGACION */
.navegator-item{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.nav-btn {
    padding: 5px;
    color: #CDC0A0;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    transform: scale(1.1);
}

/* LOGO */

.logo {
    border-radius: 20px;
    background-color: #A7D1E9;
    margin: 0 auto;
    padding: 10px 90px;
}

.logo-img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
}

/* CERRAR */

.close-button{
    padding-right: 15px;
    align-items: center;
}

.nav-btn-close {
    padding: 5px;
    color: #CDC0A0;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    transform: scale(1.1);
}

/* DIRECTORY */

.navbar{
    background-color: #CDC0A0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: auto;
    margin: 0 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.2);
}

.navbar span {
    color: white;
    padding: auto;
    margin: 0 5px;
}

/* MAIN SECTION */

.separator{
    background-color: white;
    padding: 10px;
}

.comic-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 10px;
}

.comic-panel h2{
    text-align: center;
    padding: 5px;
    font-size: 30px;
    font-family: FuturaCondensed, monospace; ;
}

.comic-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 10px auto;
    padding: 2px;
}

.comic-img img{
    max-width: 100%;
    height: auto;
    display: block;
}

.comic-panel figcaption{
    text-align: center;
    padding: 5px;
    margin: 0 20px;
    font-size: 15px;
}

.button-action{
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button-action a{
    margin: 0 15px;
    font-size: 20px;
}

.info-sesion{
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px 25px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.info-sesion button{
    font-family: "futuraBoldCondensed", monospace;
    background-color: #CDC0A0;
    color: white;
    font-size: 10px;
    border: none;
    padding: 2px;
    cursor: pointer;
}

/*CUADRO DE DIALOGO*/

.dialog-box {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0 15px;
}

.dialog-box.expanded {
    padding: 10px 0;
    max-height: 5000px;
    transition: max-height 0.5s ease-in;
}

.comic-dialog {
    font-size: 14px;
    line-height: 1.6;
}

.expand-btn {
    background-color: #A7D1E9;
    color: #F9FDEC;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.expand-btn:hover {
    background-color: #8ab3cc;
}

.expand-btn:active {
    transform: scale(0.98);
}

.comic-panel figcaption{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width: 768px) and (max-width: 1009px) {

    body{
        max-width: 700px;
        margin: 50px auto;
    }

    .tab {
        width: 15%;
        font-size: 25px;
    }

    .nav-btn {
        font-size: 25px;
    }

    .close-button{
        padding-right: 25px;
    }

    .nav-btn-close {
        font-size: 25px;
    }

    .navegator{
        padding: 10px 0;
    }

    .logo {
        padding: 15px 180px;
    }

    .logo-img {
        width: 190px;
        top: 50px;
    }

    .navbar a {
        font-size: 25px;
    }

    comic-panel h2{
        font-size: 40px;
    }

    .comic-img img{
        max-width: 70%;
        height: auto;
        display: block;
    }

    .button-action a{
        margin: 0 15px;
        font-size: 30px;
    }

    .info-sesion{
        background-color: white;
        border-radius: 0 0 10px 10px;
        padding: 10px 15px 30px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .info-sesion button{
        font-size: 22px;
        padding: 2px;
        margin: 5px;
    }

    .comic-panel figcaption{
        font-size: 18px;
    }

    .dialog-box {
        margin: 40px 70px;
        padding: 0 25px;
    }

    .dialog-box.expanded {
        padding: 25px;
        transition: max-height 0.5s ease-in;
    }

    .expand-btn {
        padding: 10px 20px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1001px) {

    body{
        max-width: 900px;
        margin: 50px auto;
    }

    .tab {
        width: 15%;
        font-size: 30px;
    }

    .nav-btn {
        font-size: 30px;
        padding: 0 10px;
    }

    .close-button{
        padding-right: 30px;
    }

    .nav-btn-close {
        font-size: 30px;
    }

    .navegator{
        padding: 10px 0;
    }

    .logo {
        padding: 15px 280px;
    }

    .logo-img {
        width: 250px;
        top: 30px;
    }

    .navbar a {
        font-size: 25px;
    }

   comic-panel h2{
        font-size: 40px;
    }

    .comic-img img{
        max-width: 50%;
        height: auto;
        display: block;
    }

    .button-action a{
        margin: 0 15px;
        font-size: 30px;
    }

    .info-sesion{
        background-color: white;
        border-radius: 0 0 10px 10px;
        padding: 10px 15px 30px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .info-sesion button{
        font-size: 22px;
        padding: 2px;
        margin: 5px;
    }

    .comic-panel figcaption{
        font-size: 18px;
        margin: 10px 40px;
    }

    .dialog-box {
        margin: 40px 100px;
        padding: 0 25px;
    }

    .dialog-box.expanded {
        padding: 25px;
        transition: max-height 0.5s ease-in;
    }

    .expand-btn {
        padding: 10px 20px;
        font-size: 20px;
    }
    
}