/* TYPOGRAPHY */
@font-face {
    font-family: "FuturaBoldCondensed";
    src: url("../fonts/Futura-Bold-Condensed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaCondensed";
    src: url("../fonts/Futura-Condensed.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* BODY */

body {
    font-family: 'FuturaCondensed', monospace;
    font-weight: normal;
    background-color: #838A90;
    align-items: center;
    margin: 30px 20px;
}

/* GLOBAL ATTRIBUTES */
p, h2{
    margin:0;
    padding:0;
}

.Progress{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.Progress img{
    width: 100%;
    height: auto    ;
    margin: 0 auto;
    position: relative;
}
/* HEADER */

.Poster-Ext{
    display: none;
}

header {
    display: flex;
    flex-direction: column;
}

.tab {
    background-color: #A7D1E9;
    color: #F9FDEC;
    padding: 5px 15px 5px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 10%;
}

.tab p{
    padding-left: 5px;
}

/* NAV*/
.navegator{
    background-color: #F9FDEC;
    display: flex;
    align-items: center;
    text-align: center;
    border-top-right-radius: 10px;
}

/* FLECHAS DE NAVEGACION */
.navegator-item{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.nav-btn {
    padding: 5px;
    color: #CDC0A0;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    transform: scale(1.1);
}

/* LOGO */

.logo {
    border-radius: 20px;
    background-color: #A7D1E9;
    margin: 0 auto;
    padding: 10px 90px;
}

.logo-img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 40px;
    transform: translateX(-50%);
}

/* CERRAR */

.close-button{
    padding-right: 15px;
    align-items: center;
}

.nav-btn-close {
    padding: 5px;
    color: #CDC0A0;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    transform: scale(1.1);
}

/* DIRECTORY */

.navbar{
    background-color: #CDC0A0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: auto;
    margin: 0 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.2);
}

.navbar span {
    color: white;
    padding: auto;
    margin: 0 5px;
}


/* CONTENT */
.main-section{
    background-image: url("../images/Back1.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px 0 5px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content{
    background-color: white;
    padding: 10px 0;
}

/* WELCOME */

.information{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px 0 5px;
}

.welcome{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.welcome h2{
    position: absolute;
    background-color: #A7D1E9;
    color: white;
    font-family: 'FuturaCondensed', monospace;
    width: 35%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    transform: translateY(-16px);
}

.square-blue-top{
    background-color: white;
    border-color: #A7D1E9;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 0 20px 10px;
}

.square-blue-top p{
    font-family: "futuraCondensed", monospace;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
}

.summary-header{
    background-color: #A7D1E9;
    padding: 2px 4px;
    max-width: 70px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 140px;
}

.summary-header h2{
    font-family: 'FuturaBoldCondensed', monospace;
    font-weight: normal;
    color: white;
    font-size: 18px;
}

.square-blue{
    background-color: white;
    border-color: #A7D1E9;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 10px 20px 20px;
}

.square-blue p{
    font-family: "futuraCondensed", monospace;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
}


/* INTER-POSTER */
.inter-poster{
    padding: 10px;
    margin: 0 10px;
}

.poster-img{
    border-color: #A7D1E9;
    border-style: solid;
    border-radius: 10px;
    align-items: center;
    display: flex;
    max-width: 250px;
    width: 100%;
    margin: auto;
}

/* BUTTON-READ IT */

.read-it{
    background-color: #F9FDEC;
    color: #A7D1E9;
    padding: 5px 20px;
    text-align: center;
    max-width: 100px;
    border-radius: 5px;
    margin: 5px auto;
}

.read-button{
    text-decoration: none;
    color: #A7D1E9;
    font-size: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

.read-button:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 768px) and (max-width: 1009px) {

    body{
        max-width: 700px;
        margin: 50px auto;
    }

    .tab {
        width: 15%;
        font-size: 25px;
    }

    .nav-btn {
        font-size: 25px;
    }

    .close-button{
        padding-right: 25px;
    }

    .nav-btn-close {
        font-size: 25px;
    }

    .navegator{
        padding: 10px 0;
    }

    .logo {
        padding: 15px 180px;
    }

    .logo-img {
        width: 190px;
        top: 50px;
    }

    .navbar a {
        font-size: 25px;
    }

    .information{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 25px;
        align-items: start;
    }

    .welcome {
        margin-top: 10px;
        grid-column: 1;
        grid-row: 1;
    }

    .inter-poster {
        grid-column: 2;
        grid-row: 1 / span 3;
    }

    .square-blue {
        grid-column: 1;
        grid-row: 2;
    }

    .welcome  h2{
        font-size: 35px;
        max-width: 150px;
        width: 20%;
    }

    .square-blue-top{
        margin: 20px 10px 0;
    }

    .square-blue-top p{
        padding-top: 28px;
        font-size: 20px;   
    }

    .poster-img{
        max-width: 350px;
        height: auto;
    }

    .square-blue{
        margin: 0 10px; ;
    }

    .square-blue p{
        padding: 10px;
        font-size: 20px;
    }

    .read-it{
        padding: 10px 80px;
        max-width: 200px;
        margin: 15px auto;
    }

    .read-button{
        font-size: 35px;
    }
}

@media screen and (min-width: 1001px) {

    .Poster-Ext{
        display: block;
    }

    .poster-ext-img{
        width: 250px;
        height: auto;
        transform: translateY(30%);
    }

    body{
        align-items: center;
        min-width: 1400px;
        max-width: 1400px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 40px;
        align-items: start;
        margin: 50px auto;
    }

    .body{
        margin: 0 200px 0 0;
    }

    .tab {
        width: 15%;
        font-size: 30px;
    }

    .nav-btn {
        font-size: 30px;
        padding: 0 10px;
    }

    .close-button{
        padding-right: 30px;
    }

    .nav-btn-close {
        font-size: 30px;
    }

    .navegator{
        padding: 10px 0;
    }

    .logo {
        padding: 15px 280px;
    }

    .logo-img {
        width: 250px;
        top: 30px;
    }

    .navbar a {
        font-size: 25px;
    }

    .information{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 30px;
        align-items: start;
    }

    .welcome {
        margin-top: 50px;
        grid-column: 1;
        grid-row: 1;
    }

    .inter-poster {
        grid-column: 2;
        grid-row: 1 / span 3;
    }

    .square-blue {
        grid-column: 1;
        grid-row: 2;
        margin: 0 50px; 
    }

    .square-blue-top{
        margin: 0 50px;
    }

    .welcome  h2{
        font-size: 35px;
        width: 15%;
        transform: translateY(-23px);
    }
    
    .square-blue-top p{
        padding-top: 30px;
        font-size: 20px;   
    }

    .poster-img{
        max-width: 400px;
        height: auto;
        margin-right: 50px;
    }

    .square-blue p{
        padding: 20px;
        font-size: 20px;
    }

    .read-it{
        padding: 10px 80px;
        max-width: 200px;
        margin: 15px auto;
    }

    .read-button{
        font-size: 35px;
    }
}